apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    uid: ddtp8y2eh8zr4a
    editable: false
    jsonData:
      httpMethod: POST
      timeInterval: 5s
